<div class="eqLogic eqLogic-widget" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#"
    data-version="#version#" style="width: 650px;height: 680px;#style#" data-translate-category="#translate_category#"
    data-category="#category#" data-tags="#tags#">
    <center class="widget-name"><a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display# <span
                class="object_name">#object_name#</span></a></center>

    <link rel="stylesheet" href="plugins/JeedomConnect/desktop/css/leaflet/leaflet.css" />
    <link rel="stylesheet" href="plugins/JeedomConnect/desktop/css/leaflet/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="plugins/JeedomConnect/desktop/css/leaflet/MarkerCluster.css" />

    <!-- <script src="plugins/JeedomConnect/desktop/js/leaflet/leaflet.js"></script> -->
    <script
        src="core/php/getResource.php?file=plugins/JeedomConnect/desktop/js/leaflet/leaflet.js&md5=542287c3d5de9c510703eb93994840c3&lang=fr_FR"></script>

    <!-- <script src="plugins/JeedomConnect/desktop/js/leaflet/leaflet.markercluster.js"></script> -->
    <script
        src="core/php/getResource.php?file=plugins/JeedomConnect/desktop/js/leaflet/leaflet.markercluster.js&md5=f57b602ec04f4db8874adeeacad51b2d&lang=fr_FR"></script>

    <!-- Nous chargeons les fichiers CDN de Leaflet. Le CSS AVANT le JS -->
    <style type="text/css">
        #map {
            /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
            height: 600px;
            width: 650px;
        }
    </style>

    <div id="map">
        <!-- Ici s'affichera la carte -->
    </div>
    <div id="jcMapScript">

    </div>

    <div class='form-group'>
        <label class='col-xs-3'>Zoom :</label>
        <div class='col-xs-9'>
            <label class='radio-inline'>
                <label><input type="radio" class="zoomSelection" name="radio" value="home" checked><span
                        class="defaultText"></span></label><br />
                <label><input type="radio" class="zoomSelection" name="radio" value="all"> Toutes les positions</label>
            </label>
        </div>
    </div>
</div>

<script
    src="core/php/getResource.php?file=plugins/JeedomConnect/desktop/js/position.JeedomConnect.js&md5=a71d500673bfe00bdc4439372f07f5cd&lang=fr_FR"></script>