body {
  margin-top: 40px;
}

.tab {
  float: left;
  width: 250px;
  height: auto;
  border-right: 1px solid #ccc;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  padding: 15px 10px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--form-bg-color);
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: var(--form-bg-color);
}

/* Style the tab content */
.tabcontent {
  /* margin-left:270px; */
  padding: 0px 12px;
  width: 1000px;
  height: auto;
}

.rightContent {
  float: left;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.leftContent {
  float: left;
  width: 70%;
}


.tabsUL {
  padding-top: 10px;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  width: 400px;
}

.tabsUL li {
  display: flex;
  align-items: center;
}

.tabsUL a {
  border: 1px solid #ddd;
  margin-top: -1px;
  /* Prevent double borders */
  background-color: var(--form-bg-color);
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  width: 200px;
}

.tabsSubUL {
  padding-top: 10px;
  list-style-type: none;
  padding-left: 30;
  margin: 0;
  width: 500px;
}

.tabsSubUL li {
  display: flex;
  align-items: center;
}

.tabsSubUL a {
  border: 1px solid #ddd;
  margin-top: -1px;
  /* Prevent double borders */
  background-color: var(--form-bg-color);
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  width: 320px;
}

.tabsLargeUL {
  padding-top: 10px;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  width: 500px;
}

.tabsLargeUL li {
  display: flex;
  align-items: center;
}

.tabsLargeUL a {
  border: 1px solid #ddd;
  margin-top: -1px;
  /* Prevent double borders */
  background-color: var(--form-bg-color);
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  width: 350px;
}

.imgList {
  width: 30px;
  margin-right: 10px;
}

.required:after {
  content: " *";
  color: red;
}

#widgetImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  margin-bottom: 25px;
  margin-top: 15px;
}