/* The Modal (background) */
.qrCodeModal {
    /* position relative so that we can use position absolute for the tooltip */
    position: relative;
    float: left;
    margin: 0px 5px;
    z-index: 1;
}

/* Modal Content */

.qrCodeModal-content {
    background-color: #fefefe;
    /* by default, hide it */
    display: none;
    /* allow us to move the tooltip */
    position: absolute;
    /* align the image properly */
    /* padding: 8px 0 0 8px; */
    margin: auto;
    padding: 20px;
}