.widgetDisplayCard {
  border: none !important;
  background: transparent !important;
  padding-top: 0 !important;
  text-align: center;
}

.widgetDisplayCard div.cursor {
  margin-bottom: 5px !important;
  padding: 5px !important;
}

.eqLogicThumbnailContainer {
  /* min-height: 200px !important; */
}

.eqLogicThumbnailContainer .eqLogicDisplayCard {
  min-height: 190px !important;
}

.eqLogicThumbnailContainer .widgetDisplayCard {
  min-height: 168px !important;
}

.widgetDisplayCard {
  margin-bottom: 10px !important;
  height: 168px !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
}

.widgetDisplayCard .name {
  word-break: break-word !important;
  font-size: 12px !important;
  position: relative;
  top: 3px !important;
}

.widgetDisplayCard>span.name strong {
  position: relative;
  top: 3px !important;
  display: block;
  height: 28px !important;
  overflow: hidden;
}

.widgetDisplayCard img {
  max-height: 99px;
  width: auto !important;
  max-width: 75px !important;
  overflow: hidden;
  vertical-align: baseline;
}

/* Disabled */
.widgetDisplayCard:not(.disableCard) {
  opacity: 1 !important;
  transition-property: opacity;
  transition-duration: 0.6s;
}

.widgetDisplayCard.disableCard,
.widgetDisplayCard.disableCard>.name>.label {
  opacity: 0.4;
}

.widgetDisplayCard.disableCard:hover {
  opacity: 0.8;
}

.pass_show {
  position: relative
}

.pass_show .eye {
  position: absolute;
  top: 60% !important;
  right: 20px;
  z-index: 1;
  margin-top: -10px;
  cursor: pointer;
  transition: .3s ease all;
}

.description {
  color: var(--al-info-color);
  font-size: 11px;
}

.required:after {
  content: " *";
  color: red;
}

.jcRed {
  color: red;
}


#widgetImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  margin-bottom: 25px;
  margin-top: 15px;
}

.borderLef {
  border-left: 1px solid #ccc;
}

.italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.description {
  color: var(--al-info-color);
  font-size: 11px;
}

.underline {
  text-decoration: underline;
}

.mini {
  font-size: 0.8em !important;
  font-style: italic !important;
}